<?xml version="1.0" encoding="UTF-8"?>

<module configVersion="1.2">
    <!-- Module Properties -->
    <id>${project.parent.artifactId}</id>
    <name>${project.parent.name}</name>
    <version>${project.parent.version}</version>
    <package>${project.parent.groupId}.${project.parent.artifactId}</package>
    <author>bahmni</author>
    <description>
        ${project.parent.description}
    </description>
    <require_version>${openMRSVersion}</require_version>
    <!-- / Module Properties -->

    <!-- Required Modules -->
    <require_modules>
        <require_module version="${openMRSWebServicesVersion}">
            org.openmrs.module.webservices.rest
        </require_module>
    </require_modules>
    <!-- / Required Modules -->

    <!-- Module Activator -->
    <activator>org.bahmni.module.bahmni.ie.apps.BahmniIEAppsActivator</activator>

    <globalProperty>
        <property>bahmni.forms.directory</property>
        <defaultValue>/home/bahmni/clinical_forms/</defaultValue>
        <description>
            Filesystem path for saving the bahmni forms
        </description>
    </globalProperty>

    <globalProperty>
        <property>bahmni.formTranslations.directory</property>
        <defaultValue>/home/bahmni/clinical_forms/translations</defaultValue>
        <description>
            Filesystem path for saving the bahmni forms translations
        </description>
    </globalProperty>

</module>

